@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

html {
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    height: 100vh;
}

body {
    margin: 0;
}
